// Color
$Azul : #1D3461;
$Negro : #000 ;
$blanco : #FFF ;
$heat: rgba(248,80,50,1);

//Font Size 

// Font Family
$Stack-sans-serif: Helvetica, Arial ,sans-serif;

// Font Size
$fonts: 13px ; 
$fontm: .9em;
$fontl: 2em ;
// Margin 
$mg : 10px ;
$mgm : 0 auto ;
